<div class="row">
    <div class="col-md-4">
        &nbsp;
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        {{message}}
    </div>
</div>
<div id="row">
    <div class="col-md-12">
        <daypilot-calendar id="dp" daypilot-config="weekConfig" daypilot-events="events">

        </daypilot-calendar>
        <div id="bookingModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">{{modalHeader}}</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <h4 data-ng-hide="add" class="modal-title ng-hide">Id</h4>
                            <input data-ng-hide="add" type="text" class="form-control ng-hide" readonly data-ng-model="bookingData.id">
                            <h4 class="modal-title">Title</h4>
                            <input type="text" class="form-control" data-ng-model="bookingData.title" required autofocus>
                            <h4 class="modal-title">Details</h4>
                            <input type="text" class="form-control" data-ng-model="bookingData.details">
                            <h4 class="modal-title">Location</h4>
                            <input type="text" class="form-control" data-ng-model="bookingData.location">
                            <h4 class="modal-title">Date/Time From</h4>
                            <input type='text' class="form-control" data-ng-model="bookingData.from" required />
                            <h4 class="modal-title">Date/Time To</h4>
                            <input type="text" class="form-control" data-ng-model="bookingData.to" required>
                            <button style="background-color:#a2c200" class="btn btn-lg btn-info btn-block ng-hide" data-ng-hide="change" type="submit" data-ng-click="addBooking()">Add Booking</button>
                            <button style="background-color:#a2c200" class="btn btn-lg btn-info btn-block ng-hide" data-ng-hide="add" type="submit" data-ng-click="changeBooking()">Save Changes</button>
                            <button style="background-color:#c22700"class="btn btn-lg btn-info btn-block ng-hide" data-ng-hide="add" type="submit" data-ng-click="deleteBooking()">Delete Booking</button>                            
                        </form>
                    </div>
                    <div class="modal-footer">
                        <label>{{message}}</label>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>