<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4 ng-hide home-page-boxes" ng-hide="loggedIn">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4 ng-hide home-page-boxes" ng-hide="loggedIn">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to access the secured content using a token.</p>
        <p><a class="btn btn-info" href="#/signup" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-8 ng-hide home-page-boxes" ng-hide="!loggedIn">
        <h2>School assignment</h2>
        <p>We got an task to make a web api and web client where users can registrate
            events in an eventcalendar or what we choose to use. Feel free to registrate,
            add a booking, click around. I would be happy if you sent me an review. 
            /Tangjai.
        </p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
