body {
    background-image: url("../Assets/datetimeBG.jpg");
    background-size: cover;
}

.header-jumbotron {
    background: slategrey;
    opacity: 0.7;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.navbar {
    z-index: 2;
}

#dp {
    bottom:30pt;
}

.angularjs-datetime-picker {
    position: relative;
    z-index:1100;
}

.home-page-boxes {
    background-color: rgba(176, 221, 13, 0.7);
    margin: 10pt;
}

.modal-button-green {
margin-top:10pt;
background-color:#a2c200;

}

.modal-button-red {
    margin-top:10pt;
    background-color:#c22700;
}

.modal-content {
    background: slategrey;
}

